@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  padding: 0;
  margin: 0;
}


body {

    text-align: center;
    color: #fff;
    background-color: #d1c0be;
    font-size: 1.2rem;
    font-family: 'VT323', monospace;
    text-justify: ;
}

#main {
  width: 100vw;
  height: 100vh;
}

header {
  text-align: right;
  padding-right: 50px;
  height: 30vh;
  background: url(images/Bandana.svg) center, #bc3b2a;
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 8px;
}

h1{
  padding: 15px;
  font-size: 4rem;
}


#everything-else{
  padding-top: 80px;
  background: url(images/five-clover.jpg) center center, #bc3b2a;
  background-blend-mode: multiply;
  background-size: cover;
}
#img-div {
  max-width: 550px;
  margin: 0 auto 125px auto;
}

figcaption {
  max-width: 275px;
  margin: 0 auto 125px auto;
}

#tribute-info {
  margin-top: auto;
  text-align: left;
  max-width: 550px;
  margin: 0 auto 50px auto;
}

span {
  font-size: 2rem;
}

p{
  font-size: 1.2rem;
}

#img-caption {
  font-size: 1.2rem;
}

img {
  border-radius: 18px;
  width: 40%;
}

ul {
  list-style: none;
  margin: 0 auto 50px auto;
}

a:visited {
  color: #74638f;
}

.tab {
  padding-left: 2em;
}

blockquote {
  text-align: center;
}

